$charcoal: #333;
$dark-gray: #232323;
$accent-color: #31fabd;

:root {
  --white: #fff;
  --black: #000;
  --accent-color: $accent-color;
  --charcoal: $charcoal;
  --padding: 5px;
  --control-panel-border-radius: 30px;
  --control-panel-padding: 10px;
  --foreground-color: #ffbe11;
  --background-color: #00ff00;
}


